Flask==0.10.1
Flask-SocketIO==2.1
Jinja2==2.8
MarkupSafe==0.23
Unipath==1.1
Werkzeug==0.11.4
click==6.3
colored==1.2.1
eventlet==0.18.4
greenlet==0.4.9
itsdangerous==0.24
pyserial==3.0.1
python-engineio==0.8.8
python-socketio==1.0
requests==2.9.1
six==1.10.0
socketIO-client==0.6.5
termcolor==1.1.0
websocket==0.2.1
websocket-client==0.35.0
