{% extends "base.html" %}

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Main Menu</h1>
        {% for item in menu %}
        <div id="row">
            <div id="col-md-12"><a href="{{ item.url }}" class="btn btn-block btn-primary">{{ item.name }}</a></div>
        </div>
        <hr>
        {% endfor %}
        <div id="row">
            <div id="col-md-12"><a href="/settings" class="btn btn-block btn-warning">Settings</a></div>
        </div>
    </div>
{% endblock %}