{% extends "base.html" %}

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1><a href="/"><-</a> Settings</h1>
        {% if message %}<h2 style="color: blue">{{ message }}</h2>{% endif %}
        <hr>
        <h3>Spotlight Image</h3>
        <form action="/settings" method=post enctype=multipart/form-data>
          <p><input type=file name=file>
             <input name="spotlight" type=submit value=Upload>
        </form>

        <hr>
        <h3>Trail Image</h3>
        <form action="/settings" method=post enctype=multipart/form-data>
          <p><input type=file name=file>
             <input name="trail" type=submit value=Upload>
        </form>


    </div>
{% endblock %}