{% extends "base.html" %}

{% block script %}
    <script>
    $(document).ready(function() {

        var elemId = "canvas";
        var table_width = {{ table_width }};
        var table_depth = {{ table_depth }};

        var $canvas=$("#"+elemId);
        var ctx= document.getElementById(elemId).getContext("2d");
        document.getElementById(elemId).width  = $canvas.width();
        document.getElementById(elemId).height = $canvas.height();
        var cw = $canvas.width();
        var ch = $canvas.height();
        var cx = 50;
        var cy = 50;
        var radius = 100;
        var PI2 = Math.PI*2;

        var img = new Image();
        img.src = "/static/img/spotlight.jpg";

        function draw(){
            {% if not trail %}ctx.clearRect(0,0,cw,ch);{% endif %}
            ctx.save();
            ctx.beginPath();
            ctx.arc(cx,cy,radius,0,PI2);
            ctx.closePath();
            ctx.clip();
            ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, cw, ch);
            ctx.restore();
        }

        // Web socket setup
        sm = new SocketManager(function(newdata) {
            if (newdata.data.x != null) cx = parseInt((newdata.data.x / table_width) * cw);
            if (newdata.data.y != null) cy = parseInt((newdata.data.y / table_depth) * ch);
            draw();
        });
        sm.connect();

    });
    </script>
{% endblock %}

{% block style %}
<style>
body{
    background-color: black;
    overflow: hidden;
    {# background-image: url("/static/img/water.gif");#}
}
#canvas{
    width: 100vw;
    height: 100vh;
}
#water {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/static/img/water.gif");
    width: 100vw;
    height: 100vh;
    z-index: 999999999;
    opacity: 0.4;
}

</style>
{% endblock %}

{% block content %}
    <canvas id="canvas"></canvas>
    <div id="water"></div>
{% endblock %}

