{% extends "base.html" %}

{% block script %}
    <script src="/static/js/vis.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        // Global data used by all charts and outputs
        var matrix  = {};
        var graph = null;
        maxX = {{ table_width }};
        maxY = {{ table_depth }};
        maxZ = {{ table_height }};

        // Update the global data
        var updateGlobalData= function(newData) {
            var x = parseInt(newData.data.x / 10);
            var y = parseInt((maxY - newData.data.y) / 10);
            var z = parseInt(newData.data.z / 10);
            if (z<0) z = 0;
            matrix[x+','+y] = z;
        };

        // Make a surface from the matrix data
        var makeSurface = function() {
            var surface = [];
            for (var x = 0; x < maxX/10; x++) {
                for (var y = 0; y < maxY/10; y++) {
                    var value = getFromMatrix(x, y);
                    surface.push({ x: x, y: y, z: value, style: value });
                }
            }
            return surface;
        };

        // Get a value from the matrix
        var getFromMatrix = function(x,y) {
            var key = x+','+y;
            if(matrix.hasOwnProperty(key)) return matrix[key];
            return null;
        };

        // Redraw the plot
        var reDraw = function() {
            var data = new vis.DataSet(makeSurface());
            if (data !==null) {
                graph.setData(data);
                graph.redraw();
            }
        };

        // Called when the Visualization API is loaded.
        function drawVisualization() {

            var container = document.getElementById('mygraph');
            var w = 1000; //$( document ).width();
            var h = 500; //$( document ).height();

            // create some nice looking data with sin/cos
            var data = new vis.DataSet(makeSurface());

            // specify options
            var options = {
                backgroundColor: 'black',
                axisColor: 'white',
                dataColor: 'green',
                width:  w,
                height: h,
                style: 'surface',
                showPerspective: true,
                showGrid: true,
                showShadow: false,
                keepAspectRatio: true,
                verticalRatio: 0.5,
                zMax: maxZ/10,
                cameraPosition: {
                    horizontal: 0,
                    vertical: 0.85,
                    distance: 1.7
                }
            };

            // create our graph
            graph = new vis.Graph3d(container, data, options);
            // Height bug fix
            $('#mygraph').children(":first").css('height','100%');
        }

        // On document ready
        $(document).ready(function() {

            drawVisualization();
            // Web socket setup
            sm = new SocketManager(updateGlobalData);
            sm.connect();
            // Redraw refresh - no a callback because data can come to fast
            var timer = setInterval(reDraw, 500);
        });

    </script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/vis.min.css" type="text/css"/>
    <style>
        html, body, #mygraph {
            width: 100vw;
            height: 100vh;
        }
    </style>
{% endblock %}


{% block content %}
    <div id="mygraph"></div>
{% endblock %}

