{% extends "base.html" %}

{% block script %}
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/c3.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        var maxHistory = 250;
        var matrix = {}
        var global_data = {
            'time_axis': [],
            'data_x': [],
            'data_y': [],
            'data_z': [],
        };

        // Update the global data
        var updateGlobalData= function(newData) {
            global_data.time_axis.push(newData.timestamp);
            //global_data.data_x.push(newData.data.x);
            //global_data.data_y.push(newData.data.y);

            var z = newData.data.z;

            // Smooth the data
            if (global_data.data_z.length > 0) {
                var prev = global_data.data_z[global_data.data_z.length-1];
                global_data.data_z.push((prev + z) / 2);
            } else {
                global_data.data_z.push(z);
            }

            if (global_data.time_axis.length > maxHistory) global_data.time_axis.shift();
            //if (global_data.time_axis.length > maxHistory) global_data.data_x.shift();
            //if (global_data.time_axis.length > maxHistory) global_data.data_y.shift();
            if (global_data.time_axis.length > maxHistory) global_data.data_z.shift();
            updateCharts();
        }

        // Callback after global data is updated
        var updateCharts = function() {
            if (chart1!==null) chart1.load({ columns: buildChart1Data() });
        }

        // Get sample of data
        var sampleOfData = function(size) {
            var local_data = {};
            for (var property in global_data) {
                if (global_data.hasOwnProperty(property)) {
                    if (global_data.time_axis.length > size) {
                        local_data[property] = global_data[property].slice(-size);
                    } else {
                        local_data[property] = global_data[property];
                    }
                }
            }
            return local_data;
        }

        // Build chart 1
        var chart1 = null;
        var buildChart1Data = function() {
            var local_data = sampleOfData(50);
            var formated = [
{#                ['data_x'].concat(local_data.data_x),#}
{#                ['data_y'].concat(local_data.data_y),#}
                ['data_z'].concat(local_data.data_z),
            ]
            return formated
        }

        $(document).ready(function() {

            $('#chart').height($('body').height());

            chart1 = c3.generate({
                 bindto: '#chart',
                 axis: {
                   y: {
                     max: 300,

                   }
                 },
                 data: {
                     names: {
                        data_z: 'Z (Up and down)'
                     },
                     columns: buildChart1Data(),
                     types: {
                        data_z: 'area'
                    },
                     colors: {
                        data_z: '#514027'
                      }
                 },
            });

            // Web socket setup
            sm = new SocketManager(updateGlobalData);
            sm.connect();
        });

    </script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/c3.css" type="text/css"/>
    <style>
        html {
            height: 99%;
        }
        body {
            height: 99%;
            background-color: #bff0ff;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="chart"></div>
{% endblock %}