{% extends "base.html" %}

{% block script %}
    <script>
    $(document).ready(function() {

        var elemId = "canvas";
        var table_width = {{ table_width }};
        var table_depth = {{ table_depth }};

        var $canvas=$("#"+elemId);
        var ctx= document.getElementById(elemId).getContext("2d");
        document.getElementById(elemId).width  = $canvas.width();
        document.getElementById(elemId).height = $canvas.height();
        var cw = $canvas.width();
        var ch = $canvas.height();
        var cx = 50;
        var cy = 50;
        var radius = 100;
        var PI2 = Math.PI*2;

        var img = new Image();
        img.src = "/static/img/trail.jpg";

        img.onload = function() {
            var tempCanvas = document.createElement("canvas"),
            tCtx = tempCanvas.getContext("2d");
            tempCanvas.width = cw;
            tempCanvas.height = ch;
            tCtx.drawImage(img, 0, 0, img.width, img.height, 0, 0, cw, ch);
            ctx.fillStyle = ctx.createPattern(tempCanvas, 'repeat');
        }

        // Web socket setup
        sm = new SocketManager(function(newdata) {
            x = parseInt((newdata.data.x / table_width) * cw);
            y = parseInt((newdata.data.y / table_depth) * ch);
            ctx.beginPath();
            ctx.moveTo(x + radius, y);
            ctx.arc(x, y, radius, 0, PI2);
            ctx.fill();
        });
        sm.connect();

    });
    </script>
{% endblock %}

{% block style %}
<style>
body{
    background-color: black;
    overflow: hidden;
}
#canvas{
    width: 100vw;
    height: 100vh;
}
</style>
{% endblock %}

{% block content %}
    <canvas id="canvas"></canvas>
{% endblock %}

